:root {
    --backgroundDark: #040405;
    --backgroundBlue: #0e149f;
    --navbarfont: "Orbitron", sans-serif;
    --openfont: "Open Sans", sans-serif;
    --gradient: linear-gradient(var(--backgroundDark),var(--backgroundBlue));
}

.input-container {
    width: 70%;
}

.search-title {
    font-family: var(--navbarfont);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search {
    background-color: var(--backgroundBlue);
    border-radius: 36px;
    text-align: center;
    color: white;
}

.poke-search {
    color: white;
    font-family: var(--navbarfont);
    font-size: 1.5em;
    text-align: center;
    background-color: transparent;
    border: 1px dashed black;
    padding: 20px 40px;
}

.poke-search:hover {
    cursor: pointer;
    background-color: black;
}

.btn, .btn-large, .btn-small, .btn-flat {
    height: unset;
    line-height: unset;
}