:root {
    --backgroundDark: #040405;
    --backgroundBlue: #0e149f;
    --navbarfont: "Orbitron", sans-serif;
    --openfont: "Open Sans", sans-serif;
    --gradient: linear-gradient(var(--backgroundDark),var(--backgroundBlue));
}

.search {
    display: flex;
    justify-content: center;
}

.poke-search {
    color: white;
    font-family: var(--navbarfont);
    font-size: 1.5em;
    text-align: center;
    background-color: transparent;
    border: 1px dashed black;
    padding: 20px 40px;
    margin-bottom: 50px;
}

.search-bar {
    border-radius: 36px;
    background-color: #0e149f;
}

.poke-search:hover {
    background-color: #040405;
    cursor: pointer;
}

.input-field input[type=search] {
    color: white;
}

.input-field input[type=search]:focus:not(.browser-default) {
    border-radius: 36px;
}
input[type=search]:not(.browser-default) {
    border-radius: 36px;
}